@media screen and (min-width: 300px) and (max-width: 992px) {
	h3, 
	p {
		text-align: center;
	}

}

@media screen and (min-width:800px) {
	#picasso {
		padding: 100px;
		margin-left: auto;
		margin-right: auto;
	}
}

@media screen and (min-width: 600px) {
	nav {
		position: relative;
		-webkit-transform: translate(0, 0);
		transform: translate(0, 0)
	}
}